backups
data/*
volumes
useless
__pycache__/
logs
*.log
src/recall_test/logs
src/recall_test/evaluation_reports

!data/simple_chunks.json
!data/clean_data.md

# 1. Python 缓存
__pycache__/
*.pyc

# 2. 忽略 data 文件夹下的所有内容
data/*

# 3. 但是，不要忽略这两个特定的文件
!data/simple_chunks.json
!data/clean_data.md

# 4. 忽略 app 生成的日志文件
logs/

# 5. ！！！！！！ 绝不要提交 SSL 私钥 ！！！！！！
ssl/*.key

# 6. 忽略本地 Docker 卷数据（如果万一你用了本地目录）
elasticsearch-data/
milvus-data/
postgres-data/
minio-data/
etcd-data/